<div class="container-full">
    <div class="background">
        <img src="../../../assets/images/back11.jpg" alt="agncia">
        <h1>AGNCIA</h1>
    </div>

    <div class="box" #box>
        <div class="web">
            <div class="icon"></div>
            <div class="title"></div>
        </div>
        <div class="apps">
            <div class="icon"></div>
            <div class="title"></div>
        </div>
        <div class="marketing">
            <div class="icon"></div>
            <div class="title"></div>
        </div>
    </div>
</div>